.register-main-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EDEEEE;
    color: #424848;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #282c34;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.login-form {
    background-color: #E9E7DE;
    border-radius: 25px;
    height: 60%;
    width: 70%;      
} 

